<mat-card class="container">
  <mat-card-header> <mat-card-title> Cadastrar Folha </mat-card-title> </mat-card-header>
  <mat-card-content>
    <mat-form-field id="valor" class="input">
      <mat-label for="txtValor">Valor da Hora:</mat-label>
      <input matInput type="number" id="txtValor" [(ngModel)]="valor" />
    </mat-form-field>
    <mat-form-field id="quantidade" class="input">
      <mat-label for="txtQuantidade">Quantidade de Horas:</mat-label>
      <input matInput type="number" id="txtQuantidade" [(ngModel)]="quantidade" />
    </mat-form-field>
    <mat-form-field id="data" class="input">
      <mat-label for="txtData">Data:</mat-label>
      <input matInput type="date" id="txtData" [(ngModel)]="data" />
    </mat-form-field>
    <mat-form-field id="funcionarios" class="input">
      <mat-label for="selFuncionarios">Funcionários</mat-label>
      <mat-select [(ngModel)]="funcionarioId">
        <mat-option *ngFor="let funcionario of funcionarios" value="{{ funcionario.id }}">
          {{ funcionario.id }} - {{ funcionario.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <button mat-raised-button color="warn" id="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
</mat-card>
