<table>
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Cpf</th>
    <th>E-mail</th>
    <th>Nascimento</th>
    <th>Deletar</th>
    <th>Alterar</th>
  </tr>
  <tr *ngFor="let funcionario of funcionarios">
    <td>{{ funcionario.id }}</td>
    <td>{{ funcionario.nome }}</td>
    <td>{{ funcionario.cpf }}</td>
    <td>{{ funcionario.email }}</td>
    <td>{{ funcionario.nascimento | date: "dd/MM/yyyy" }}</td>
    <td>
      <button (click)="deletar(funcionario.id!)">Deletar</button>
    </td>
    <td>
      <a routerLink="/pages/funcionario/cadastrar/{{ funcionario.id }}">
        Alterar
      </a>
    </td>
  </tr>
</table>
