<h2>Cadastrar Funcionário</h2>

<!-- Material Design Angular -->
<div>
  <label>{{funcionarioId}}</label>
</div>
<div id="nome"> 
  <label for="txtNome">Nome</label>
  <input type="text" id="txtNome" [(ngModel)]="nome"/>
</div>
<div id="cpf">
  <label for="txtCpf">CPF</label>
  <input type="text" id="txtCpf" [(ngModel)]="cpf" />
</div>
<div id="botao">
  <button *ngIf="!funcionarioId" id="btnCadastrar" (click)="cadastrar()">Cadastrar</button>
  <button *ngIf="funcionarioId" id="btnAlterar" (click)="alterar()">Salvar</button>
</div>
<div>
  <p class="erro">
    {{ erro }}
  </p>
</div>